<!DOCTYPE HTML>
<html>

<head>
    <title>Login</title>
    <link href="../admin/css/login-admin.css" rel="stylesheet" />
</head>

<body>
    <div class="header">
        <div class="header-main">
            <h1>Login Admin</h1>
            <div class="header-bottom">
                <div class="header-right w3agile">
                    <div class="header-left-bottom agileinfo">
                        <form method="POST">
                            <input type="text" name="Name" placeholder="User name" />
                            <input type="password" name="Password" placeholder="Password"/>
                            <div class="remember">
                                <span class="checkbox1">
                                    <label class="checkbox"><input type="checkbox" name="" checked=""><i> </i>
                                        Remember me
                                    </label>
                                </span>
                                <div class="forgot">
                                    <h6><a href="#">Forgot Password?</a></h6>
                                </div>
                                <div class="clear"> </div>
                            </div>
                            <input id="btn_ladmin" type="submit" value="Login">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="../admin/js/jquery.min.js"></script>
    <script src="../admin/js/karma.rose.min.js"></script>
</body>

</html>