<div class="breadcrumb-c clearfix">
    <ul class="container-91">
        <li><a href="">Tin tức</a></li>

    </ul>
</div>
<div class="container-91 row news-detail">
    <div class="col-8">
        <div class="mid-title">
            <%= getOne.Title%> <br>
                <span><%= fTN(getOne.Created_at)%>  </span>
                <hr>
        </div>
        <div class="desc-title mb-3">
            <%= getOne.Title%>
        </div>
        <div class="content">
            <%- getOne.Detail%>
        </div>
    </div>
    <div class="col-4 news-right">
        <div class="title">
            KẾT NỐI VỚI CHÚNG TÔI
        </div>
        <div style="margin-bottom:50px"></div>
        <div class="">
            <div class="title ">
                BÀI VIẾT CÙNG CHỦ ĐỀ
            </div>
            <div class="mt-3">
                <a href="">
                    <div class="row">
                        <div class="col-3">
                            <div class="image">
                                <img src="images/news/lg-q61-ra-mat-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="desc-right">
                                <div class="cate-left">
                                    Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi
                                    Mi Band 4 bán chạy không kịp sản xuất, tất
                                </div>
                                <div class="cate float-left mt-1">Tin hot</div>
                                <div class="time float-left mt-1    pl-2">11 Tháng Mười, 2019</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="mt-3">
                <a href="">
                    <div class="row">
                        <div class="col-3">
                            <div class="image">
                                <img src="images/news/lg-q61-ra-mat-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="desc-right">
                                <div class="cate-left">
                                    Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi
                                    Mi Band 4 bán chạy không kịp sản xuất, tất
                                </div>
                                <div class="cate float-left mt-1">Tin hot</div>
                                <div class="time float-left mt-1    pl-2">11 Tháng Mười, 2019</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="mt-3">
                <a href="">
                    <div class="row">
                        <div class="col-3">
                            <div class="image">
                                <img src="images/news/lg-q61-ra-mat-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="desc-right">
                                <div class="cate-left">
                                    Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi
                                    Mi Band 4 bán chạy không kịp sản xuất, tất
                                </div>
                                <div class="cate float-left mt-1">Tin hot</div>
                                <div class="time float-left mt-1    pl-2">11 Tháng Mười, 2019</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="mt-3">
                <a href="">
                    <div class="row">
                        <div class="col-3">
                            <div class="image">
                                <img src="images/news/lg-q61-ra-mat-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="desc-right">
                                <div class="cate-left">
                                    Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi
                                    Mi Band 4 bán chạy không kịp sản xuất, tất
                                </div>
                                <div class="cate float-left mt-1">Tin hot</div>
                                <div class="time float-left mt-1    pl-2">11 Tháng Mười, 2019</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="mt-3">
                <a href="">
                    <div class="row">
                        <div class="col-3">
                            <div class="image">
                                <img src="images/news/lg-q61-ra-mat-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="desc-right">
                                <div class="cate-left">
                                    Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi Mi Band 4 bán chạy không kịp sản xuất, tất Xiaomi
                                    Mi Band 4 bán chạy không kịp sản xuất, tất
                                </div>
                                <div class="cate float-left mt-1">Tin hot</div>
                                <div class="time float-left mt-1    pl-2">11 Tháng Mười, 2019</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>