<div style="clear:both"></div>
<footer class="clearfix">
        <div class="row container-91 my-3">
            <div class="col-3">
                <div class="title">THÔNG TIN CÔNG TY</div>
                <a href="" class="ll">  Giới thiệu công ty</a>
                <a href="" class="ll">  Giới thiệu công ty</a>
                <a href="" class="ll">  Giới thiệu công ty</a>
                <a href="" class="ll">  Giới thiệu công ty</a>
                <a href="" class="ll">  Giới thiệu công ty</a>

            </div>
            <div class="col-3">
                <div class="title">HỖ TRỢ KHÁCH HÀNG</div>
                <a href="" class="ll">  Tìm hiểu về mua trả góp</a>
                <a href="" class="ll">  Giao hàng, lắp đặt</a>
                <a href="" class="ll">  Báo hành, đổi trả</a>
                <a href="" class="ll">  Dịch vụ bảo dưỡng</a>
                <a href="" class="ll">  hmhmhm</a>

            </div>
            <div class="col-3">
                <div class="title">TỔNG ĐÀI HỖ TRỢ (GỌI MIỄN PHÍ)</div>
                <a href="" class="ll">  Mua hàng 1900.8198 (7:30 - 22:00)</a>
                <a href="" class="ll">  Mua hàng 1900.8198 (7:30 - 22:00)</a>
                <a href="" class="ll">  Mua hàng 1900.8198 (7:30 - 22:00)</a>
                <a href="" class="ll">  Mua hàng 1900.8198 (7:30 - 22:00)</a>

            </div>
            <div class="col-3">
                <div class="title font-weight-bold pb-2">Nhận tin tức mới nhất từ chúng tôi</div>
                <form class="form-inline">
                    <input class="form-control" type="" placeholder="Địa chỉ email" aria-label="email" style="border-radius:0">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit" style="border-radius:0">OK</button>
                </form>
                <div class="title font-weight-bold pt-2">KẾT NỐI VỚI CHÚNG TÔI</div>
                <a href=""><button class="btn btn-primary my-2 my-sm-0"style="border-radius:0"><i class="fab fa-facebook-f"></i></button></a>
                <a href=""><button class="btn btn-info my-2 my-sm-0" style="border-radius:0"><i class="fab fa-twitter"></i></button></a>
                <a href=""><button class="btn btn-danger my-2 my-sm-0" style="border-radius:0"><i class="fab fa-google-plus-g"></i></button></a>

            </div>
        </div>

    </footer>
    <div style="background:#f3f3f3">
        <div class="copyright container-91">
            © Now. Công ty trách nhiệm hữu hạn BanHeo. GPDKKD: null <br> Address: 1600 Pennsylvania Avenue NW Washington, D.C. 20500. Phone number: (+84) 948 135 903. Email: nghiepnguyen8499@gmail.com. Content by: Nghiep.
        </div>
    </div>