<%- title %>
    <form action="login" method="post">
        <label for="">User</label>
        <input type="text" name="Name">
        <label for="">Password</label>
        <input type="text" name="Password">

        <button type="submit">SUBMIT</button>
    </form>