<form action="register" method="post">
    <label for="">User</label>
    <input type="text" name="Name">
    <label for="">Password</label>
    <input type="text" name="Password">
    <label for="">Email</label>
    <input type="text" name="Email">
    <label for="">Phone</label>
    <input type="text" name="Phone">
    <button type="submit">SUBMIT</button>
</form>